<div class="container">
    <h1>Dataset Groups</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onClickCreateGroup(formGroup.value.groupName)">
        <mat-form-field appearance="fill">
            <mat-label>Group name</mat-label>
            <input formControlName="groupName" name="groupName" type="text" matInput>
            <mat-error *ngIf="this.formGroup.get('groupName')?.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button [disabled]="!this.formGroup.valid" mat-flat-button color="primary" class="btn">
            Add&nbsp;&nbsp;
            <mat-icon>note_add</mat-icon>
        </button>
        <div *ngIf="this.wordsGroups.size === 0">
            No groups added yet.
        </div>
    </form>
    <div class="scrollable-y h100">
        <div *ngFor="let group of this.wordsGroups | keyvalue" class="card">
            <div class="inline" style="position: relative; top: 5px;">
                <strong>
                    <h2 class="truncated" style="max-width:320px">
                        {{group.key}}
                    </h2>
                </strong>
            </div>
            <div class="inline-block">
                <input style="display: none;" id="{{md5(group.key)}}" type="file" multiple
                    (change)="onFileChange(group.key, $event)" accept="text/plain, application/pdf">
                <button [disabled]="this.awaitingGroups.has(group.key)" mat-flat-button color="primary"
                    (click)="onClickOpenSelectionDialog(group.key)">
                    Upload&nbsp;&nbsp;
                    <mat-icon>attachment</mat-icon>
                </button>
                <button [disabled]="this.awaitingGroups.has(group.key)" mat-flat-button color="delete"
                    (click)="onClickDeleteGroup(group.key)">
                    Delete&nbsp;&nbsp;
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
            <br>
            <app-loader [visible]="this.awaitingGroups.has(group.key)" [text]="this.awaitingGroups?.get(group.key)">
            </app-loader>
            <div
                *ngIf="this.fileStoreServiceAccesor.getFileList(group.key).length == 0 && !this.awaitingGroups.has(group.key); else hasFiles">
                <div>
                    No files added to this group.
                </div>
            </div>
            <ng-template #hasFiles>
                <ng-container *ngIf="!this.awaitingGroups.has(group.key)">
                    <div class="truncated" *ngFor="let file of group.value.children | keyvalue">
                        {{file.key}}
                    </div>
                </ng-container>
            </ng-template>
        </div>
    </div>
</div>