<div class="container scrollable-y">
  <h1>Regression Plots</h1>
  <div *ngIf="this.groups.size == 0">
    No plots available yet.
  </div>
  <div class="chart-container-of">
    <div *ngFor="let group of this.groups | keyvalue" class="card chart-container">
      <app-loader [visible]="this.awaitingGroups.has(group.key)" [text]="this.awaitingGroups?.get(group.key)"></app-loader>
      <div [ngClass]="this.awaitingGroups.has(group.key) ? 'hidden' : ''">
        <div echarts [options]="this.plots?.get(group.key)!" class="chart"></div>
      </div>
    </div>
  </div>
</div>