/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    margin-top: 6px !important;
    margin-right: 6px !important;
}

.container {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    overflow-y: hidden;
}

.card {
    background-color: rgba(238, 230, 252, 0.5);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 50px 6px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.10);
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    box-sizing: border-box;
}

.scrollable-y {
    min-height: 250px;
    max-height: 650px;
    height: 100%;
    overflow-y: scroll;
}

.inline {
    display: inline-block;
}

.center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pad-top {
    padding-top: 8px;
}

.pad-bottom {
    padding-bottom: 8px;
}

.table-italic > th {
    font-style: italic;
    font-weight: normal;
}

.italic {
    font-style: italic;
}