<div class="container">
    <table>
        <tr>
            <th>
                Word
                <hr>
            </th>
            <th>
                Normalized Frequency
                <hr>
            </th>
            <th>
                Zipf
                <hr>
            </th>
        </tr>
        <tr *ngFor="let word of words | keyvalue: this.sortByValuePipe">
            <td>
                {{word.key}}
            </td>
            <td>
                {{word.value}}
            </td>
            <td>
                0
            </td>
        </tr>
    </table>
</div>